[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Minecraft
Comment=Sandbox adventure game by Mojang
Exec=minecraft
Icon=minecraft
Terminal=false
Categories=Game;
X-Desktop-File-Install-Version=0.22
